.vectorIcon {
  width: 26px;
  height: 35.5px;
}
.kasraTorabi,
.vectorIcon {
  position: relative;
}
.logo,
.topNav {
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
}
.logo {
  flex: 1;
  height: 49.5px;
  justify-content: flex-start;
  padding: var(--padding-6xs) 0;
  gap: var(--gap-xs);
}
.topNav {
  position: absolute;
  top: 0;
  left: 0;
  width: 1920px;
  overflow: hidden;
  justify-content: space-between;
  padding: 0 var(--padding-61xl);
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--full-white);
  font-family: var(--font-roboto-mono);
}
