.home {
  color: var(--bg);
  text-align: center;
}
.home,
.projects {
  position: relative;
}
.property1h {
  width: 741px;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-4xs) var(--padding-71xl);
  box-sizing: border-box;
  gap: var(--gap-81xl);
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--full-white);
  font-family: var(--font-roboto-mono);
}
