.figmaLogoIcon {
  position: absolute;
  top: calc(50% - 35px);
  left: calc(50% - 23px);
  width: 46.7px;
  height: 70px;
  overflow: hidden;
}
.div {
  border-right: 2px solid var(--color-4);
  box-sizing: border-box;
}
.div,
.icon,
.icon2 {
  width: 256px;
  position: relative;
  height: 110px;
  overflow: hidden;
  flex-shrink: 0;
}
.icon2 {
  object-fit: cover;
}
.applications,
.skil1 {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.skil1 {
  align-items: flex-start;
  padding: var(--padding-mid) var(--padding-61xl);
}
