.bgChild {
  position: absolute;
  top: 0;
  left: 1294px;
  width: 1353px;
  height: 433px;
}
.img13061Icon {
  position: absolute;
  top: 255px;
  left: calc(50% - 1323.5px);
  width: 2329px;
  height: 1090px;
  object-fit: cover;
  opacity: 0.2;
  mix-blend-mode: linear-burn;
}
.bg,
.bg1 {
  position: absolute;
  top: 0;
  left: -360px;
  width: 2647px;
  height: 1345px;
}
.bg {
  top: -255px;
  left: 134px;
  width: 1353px;
  height: 1090px;
}
.imKasraTorabi {
  font-size: var(--font-size-xl);
}
.hiImKasraContainer {
  width: 428px;
  position: relative;
  font-weight: 500;
  display: inline-block;
  height: 647px;
  flex-shrink: 0;
}
.container {
  position: absolute;
  top: 216px;
  left: 80px;
  width: 406px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}
.nodejsLogoIcon {
  position: absolute;
  top: calc(50% - 35px);
  left: calc(50% - 57px);
  width: 114.1px;
  height: 70px;
  overflow: hidden;
  object-fit: cover;
}
.div {
  align-self: stretch;
  position: relative;
  height: 110px;
  overflow: hidden;
  flex-shrink: 0;
}
.g3013Icon,
.g3054Icon,
.layer1 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
}
.g3013Icon {
  width: 45.84%;
  right: 54.16%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.g3054Icon,
.layer1 {
  right: 0;
}
.g3054Icon {
  width: 45.84%;
  left: 54.16%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.layer1 {
  width: 100%;
  left: 0;
}
.css3AndHtml5LogosAndWordm {
  position: absolute;
  top: calc(50% - 35px);
  left: calc(50% - 54px);
  width: 108.2px;
  height: 70px;
  overflow: hidden;
}
.icon {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  height: 110px;
  flex-shrink: 0;
}
.r1Icon {
  position: absolute;
  top: 20px;
  left: 93px;
  width: 70px;
  height: 70px;
  object-fit: cover;
}
.parent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-23xl);
}
.figmaLogoIcon {
  position: absolute;
  top: calc(50% - 35px);
  left: calc(50% - 23px);
  width: 46.7px;
  height: 70px;
  overflow: hidden;
}
.icon4 {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  height: 110px;
  flex-shrink: 0;
  object-fit: cover;
}
.skills {
  position: absolute;
  top: 216px;
  right: 81px;
  width: 512px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.aboutmehd {
  width: 100%;
  position: relative;
  background: linear-gradient(151.5deg, #e35b0e, #5f0526);
  height: 1080px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-29xl);
  color: var(--full-white);
  font-family: var(--font-roboto-mono);
}
