.bgIcon,
.vectorIcon {
  position: absolute;
  top: -36px;
  left: -165px;
  width: 430px;
  height: 138px;
}
.vectorIcon {
  top: 4.9px;
  left: 0;
  width: 18px;
  height: 24.7px;
}
.kasraTorabi,
.logo,
.top {
  position: absolute;
  top: 8.2px;
  left: 26.4px;
}
.logo,
.top {
  top: 0;
  left: 0;
  width: 127px;
  height: 34.7px;
}
.top {
  top: 24px;
  left: 24px;
  height: 35px;
}
.frameChild {
  width: 28.8px;
  position: relative;
  height: 28.8px;
  cursor: pointer;
}
.androidProjectsInner {
  position: absolute;
  bottom: 0.2px;
  left: calc(50% - 27px);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 12.5px;
}
.androidProjects {
  width: 100%;
  position: relative;
  background: linear-gradient(151.5deg, #e35b0e, #5f0526);
  height: 800px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-sm-9);
  color: var(--full-white);
  font-family: var(--font-roboto-mono);
}
