.bgChild,
.img13062Icon {
  position: absolute;
  top: 8px;
  left: 78px;
  width: 382px;
  height: 122px;
}
.img13062Icon {
  top: 301px;
  left: 167px;
  width: 356px;
  height: 539px;
  object-fit: cover;
  opacity: 0.2;
  mix-blend-mode: linear-burn;
}
.bg,
.vectorIcon {
  position: absolute;
  top: -36px;
  left: -165px;
  width: 430px;
  height: 138px;
}
.vectorIcon {
  top: 4.9px;
  left: 0;
  width: 18px;
  height: 24.7px;
}
.kasraTorabi,
.logo,
.top {
  position: absolute;
  top: 8.2px;
  left: 26.4px;
}
.logo,
.top {
  top: 0;
  left: 0;
  width: 127px;
  height: 34.7px;
}
.top {
  top: 24px;
  left: 24px;
  width: 164px;
  height: 35px;
}
.uiUx {
  flex: 1;
  position: relative;
}
.text2 {
  position: absolute;
  bottom: 24px;
  left: calc(50% - 176px);
  width: 352px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-11xs) var(--padding-xs);
  box-sizing: border-box;
  opacity: 0.5;
  font-size: var(--font-size-15xl-1);
}
.imKasraTorabi {
  font-size: var(--font-size-xs);
}
.hiImKasraContainer {
  align-self: stretch;
  flex: 1;
  position: relative;
  font-weight: 500;
}
.container {
  position: absolute;
  top: 104.5px;
  left: 24px;
  width: 256px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  font-size: var(--font-size-21xl);
}
.figmaLogoIcon {
  position: absolute;
  top: calc(50% - 9.85px);
  left: calc(50% - 6.75px);
  width: 13.1px;
  height: 19.7px;
  overflow: hidden;
}
.div,
.icon,
.icon2 {
  align-self: stretch;
  position: relative;
  height: 30.9px;
  overflow: hidden;
  flex-shrink: 0;
}
.icon,
.icon2 {
  max-width: 100%;
}
.icon2 {
  object-fit: cover;
}
.parent {
  width: 72.5px;
  height: 201.9px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs-8);
}
.skills {
  width: 72.5px;
  position: relative;
  height: 201.8px;
  opacity: 0.8;
}
.frameParent {
  position: absolute;
  right: 26px;
  bottom: 138.1px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.androidAboutme {
  width: 100%;
  position: relative;
  background: linear-gradient(151.5deg, #e35b0e, #5f0526);
  height: 800px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-sm-9);
  color: var(--full-white);
  font-family: var(--font-roboto-mono);
}
