.bgIcon,
.vectorIcon {
  position: absolute;
  top: -36px;
  left: -165px;
  width: 430px;
  height: 138px;
}
.vectorIcon {
  top: 4.9px;
  left: 0;
  width: 18px;
  height: 24.7px;
}
.d,
.kasraTorabi,
.logo,
.top {
  position: absolute;
  top: 8.2px;
  left: 26.4px;
}
.d,
.logo,
.top {
  top: 0;
  left: 0;
  width: 127px;
  height: 34.7px;
}
.d,
.top {
  top: 24px;
  left: 24px;
  width: 312px;
}
.d {
  top: 77px;
  height: 723px;
  overflow: hidden;
}
.uiUx {
  flex: 1;
  position: relative;
}
.text2 {
  position: absolute;
  bottom: 24px;
  left: calc(50% - 176px);
  width: 352px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-11xs) var(--padding-xs);
  box-sizing: border-box;
  font-size: var(--font-size-15xl-1);
}
.fresh {
  position: relative;
  font-weight: 500;
}
.text {
  position: absolute;
  top: 697px;
  left: calc(50% - 129px);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 58px;
  opacity: 0.8;
  font-size: var(--font-size-3xs);
}
.androidhomepage {
  width: 100%;
  position: relative;
  background: linear-gradient(151.5deg, #e35b0e, #5f0526);
  height: 800px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-sm-9);
  color: var(--full-white);
  font-family: var(--font-roboto-mono);
}
