.bgIcon,
.vectorIcon {
  position: absolute;
  top: 0;
  left: 0;
  width: 265px;
  height: 81px;
}
.vectorIcon {
  top: 4.9px;
  width: 18px;
  height: 24.7px;
}
.kasraTorabi,
.logo,
.top {
  position: absolute;
  top: 8.2px;
  left: 26.4px;
}
.logo,
.top {
  top: 0;
  left: 0;
  width: 127px;
  height: 34.7px;
}
.top {
  top: 24px;
  left: 24px;
  height: 35px;
  font-size: var(--font-size-sm-9);
}
.emailRequired {
  align-self: stretch;
  position: relative;
}
.frameChild {
  width: 312px;
  position: relative;
  border-radius: var(--br-xs);
  border: 2px solid var(--full-white);
  box-sizing: border-box;
  height: 40px;
}
.companyParent,
.emailRequiredParent,
.fullNameRequiredParent,
.subjectParent {
  position: absolute;
  top: 0;
  left: 0;
  width: 312px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.companyParent,
.fullNameRequiredParent,
.subjectParent {
  top: 82px;
}
.companyParent,
.subjectParent {
  top: 164px;
}
.subjectParent {
  top: 246px;
}
.frameChild1 {
  width: 312px;
  position: relative;
  border-radius: var(--br-xs);
  border: 2px solid var(--full-white);
  box-sizing: border-box;
  height: 105px;
}
.messageParent {
  position: absolute;
  top: 328px;
  left: 0;
  width: 312px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.send {
  position: relative;
  letter-spacing: 0.65em;
}
.sendWrapper {
  position: absolute;
  top: 483px;
  left: 0;
  border-radius: var(--br-base);
  background-color: var(--color-2);
  width: 312px;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-2xs) 0;
  box-sizing: border-box;
  font-size: var(--font-size-base);
}
.frameParent,
.ifYouAre {
  position: absolute;
  left: 24px;
  width: 312px;
}
.frameParent {
  top: 180px;
  height: 523px;
  font-size: var(--font-size-sm);
}
.ifYouAre {
  top: 89px;
  font-size: 13px;
  display: inline-block;
  height: 72px;
}
.frameChild2,
.lineDiv {
  top: 10.5px;
  border-top: 1px solid var(--full-white);
  box-sizing: border-box;
  width: 136px;
  height: 1px;
  opacity: 0.5;
}
.lineDiv {
  position: absolute;
  left: calc(50% - 156.5px);
}
.frameChild2 {
  left: calc(50% + 20.5px);
}
.frameChild2,
.lineParent,
.or {
  position: absolute;
}
.or {
  top: 0;
  left: calc(50% - 10px);
}
.lineParent {
  top: 751px;
  left: 24px;
  width: 312px;
  height: 21px;
  color: rgba(255, 255, 255, 0.5);
}
.email {
  position: relative;
}
.contactBtn,
.contactBtn1,
.contactBtn2 {
  position: absolute;
  top: 820px;
  left: 76px;
  border-radius: var(--br-28xl);
  border: 2px solid var(--full-white);
  box-sizing: border-box;
  width: 207px;
  height: 40px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-lg) var(--padding-75xl);
}
.contactBtn1,
.contactBtn2 {
  top: 876px;
  text-align: center;
}
.contactBtn2 {
  top: 932px;
}
.androidcontact {
  width: 100%;
  position: relative;
  background: linear-gradient(151.5deg, #e35b0e, #5f0526);
  height: 1021px;
  overflow-y: auto;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--full-white);
  font-family: var(--font-roboto-mono);
}
