.bgIcon {
  width: 1353px;
  position: relative;
  height: 433px;
}
.bg {
  position: absolute;
  top: -255px;
  left: 134px;
  width: 1353px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameChild,
.frameItem {
  position: absolute;
  top: -1px;
  left: calc(50% - 1.5px);
  background-color: var(--full-white);
  border-right: 2px solid var(--full-white);
  box-sizing: border-box;
  width: 2px;
  height: 355px;
  opacity: 0.5;
}
.frameItem {
  top: 446px;
  height: 324px;
}
.o {
  margin: 0;
}
.lineParent,
.oR {
  position: absolute;
}
.oR {
  top: 366px;
  left: 0;
  opacity: 0.5;
}
.lineParent {
  top: calc(50% - 385px);
  left: calc(50% - 7px);
  width: 15px;
  height: 769px;
}
.contactBtnParent {
  position: absolute;
  top: 360px;
  right: 318px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-59xl);
}
.contacthd {
  width: 100%;
  position: relative;
  background: linear-gradient(151.5deg, #e35b0e, #5f0526);
  height: 1080px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--full-white);
  font-family: var(--font-roboto-mono);
}
