@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;700&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-roboto-mono: "Roboto Mono";
  --font-lexend: Lexend;

  /* font sizes */
  --font-size-base: 16px;
  --font-size-109xl: 128px;
  --font-size-5xl: 24px;
  --font-size-45xl: 64px;
  --font-size-xs: 12px;
  --font-size-xl: 20px;
  --font-size-29xl: 48px;
  --font-size-sm: 14px;
  --font-size-sm-9: 13.9px;
  --font-size-49xl-2: 68.2px;
  --font-size-4xs: 9px;
  --font-size-21xl: 40px;
  --font-size-3xs: 10px;
  --font-size-15xl-1: 34.1px;

  /* Colors */
  --color-white: #fff;
  --full-white: #f8f8f8;
  --bg: #191919;
  --color-gray-100: rgba(0, 0, 0, 0.5);
  --color-goldenrod: #f7b518;
  --color-2: #091540;
  --color-4: #cedada;

  /* Gaps */
  --gap-5xl: 24px;
  --gap-106xl: 125px;
  --gap-xs: 12px;
  --gap-3xl: 22px;
  --gap-23xl: 42px;
  --gap-5xs: 8px;
  --gap-315xl: 334px;
  --gap-81xl: 100px;
  --gap-4xl-6: 23.6px;
  --gap-48xl: 67px;
  --gap-15xl: 34px;
  --gap-59xl: 78px;
  --gap-xs-8: 11.8px;

  /* Paddings */
  --padding-15xl: 34px;
  --padding-160xl: 179px;
  --padding-6xs: 7px;
  --padding-164xl: 183px;
  --padding-61xl: 80px;
  --padding-base: 16px;
  --padding-mini: 15px;
  --padding-5xs: 8px;
  --padding-11xl: 30px;
  --padding-lg: 18px;
  --padding-75xl: 94px;
  --padding-2xs: 11px;
  --padding-7xs-3: 5.3px;
  --padding-4xs: 9px;
  --padding-47xl: 66px;
  --padding-169xl: 188px;
  --padding-71xl: 90px;
  --padding-11xs: 2px;
  --padding-xs: 12px;
  --padding-mid: 17px;

  /* Border radiuses */
  --br-5xs: 8px;
  --br-28xl: 47px;
  --br-base: 16px;
  --br-xs: 12px;
  --br-8xs: 5px;
  --br-3xs: 10px;
}