.bgIcon,
.vectorIcon {
  position: absolute;
  top: -145px;
  left: -150px;
  width: 906px;
  height: 290px;
}
.vectorIcon {
  top: 7px;
  left: 0;
  width: 26px;
  height: 35.5px;
}
.kasraTorabi,
.logo {
  position: absolute;
  top: 11.8px;
  left: 38px;
}
.logo {
  top: -6px;
  left: 50px;
  width: 183px;
  height: 50px;
}
.d,
.navTabletParent {
  position: absolute;
  top: 38px;
  left: calc(50% - 512px);
  width: 1024px;
  height: 39px;
}
.d {
  top: 120px;
  left: calc(50% - 232px);
  width: 464px;
  height: 1246px;
  overflow: hidden;
}
.fresh {
  position: relative;
  font-weight: 500;
}
.text {
  position: absolute;
  bottom: 175px;
  left: calc(50% - 411px);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-315xl);
  font-size: var(--font-size-xs);
}
.uiDesignerUx {
  width: 1024px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
}
.text2 {
  position: absolute;
  bottom: 50.1px;
  left: calc(50% - 512px);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-7xs-3) 0;
  font-size: var(--font-size-49xl-2);
}
.homepageTablet {
  width: 100%;
  position: relative;
  background: linear-gradient(151.5deg, #e35b0e, #5f0526);
  height: 1366px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--full-white);
  font-family: var(--font-roboto-mono);
}
