.bgIcon {
  width: 1353px;
  position: relative;
  height: 433px;
}
.bg {
  position: absolute;
  top: -255px;
  left: 134px;
  width: 1353px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.uberFood {
  align-self: stretch;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.uberFoodParent {
  position: absolute;
  top: 199px;
  left: 79px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 40px;
}
.frameChild {
  width: 115px;
  position: relative;
  height: 115px;
  cursor: pointer;
}
.projectshdInner {
  position: absolute;
  bottom: 101px;
  left: 0;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 21px var(--padding-61xl);
}
.projectshd {
  width: 100%;
  position: relative;
  background: linear-gradient(151.5deg, #e35b0e, #5f0526);
  height: 1080px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-45xl);
  color: var(--full-white);
  font-family: var(--font-roboto-mono);
}
